:root {
    --dark-blue-color: #274C5B;
    --dark-grey-color: #525C60;
    --light-green-color: #7EB693;
    --light-grey-color: #D4D4D4;
    --white-color: #F9F8F8;
    --silver-color: #EFF6F1;
    --pale-yellow-color: #EFD372;
}
