:root {
    --dark-blue-color: #274c5b;
    --dark-grey-color: #525c60;
    --light-green-color: #7eb693;
    --light-grey-color: #d4d4d4;
    --white-color: #f9f8f8;
    --silver-color: #eff6f1;
    --pale-yellow-color: #efd372;
}
